* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 400px;
    height: 100vh;
    background-color: rgb(47, 47, 47);
}

.pop {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 47, 47);
}

.pop img {
    width: 50%;
    animation: anim 10s infinite;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}

.container input {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    border: 4px solid rgb(0, 58, 128);
    border-radius: 7px;
    outline: none;
    color: rgb(47, 47, 47);
    margin-bottom: 10px;
    background-color: white;
}

.btn {
    width: 65%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 5px 10px;
    border: none;
    background: rgb(0, 58, 128);
    border: 2px solid rgb(0, 58, 128);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    background-color: rgb(9, 40, 98);
}

#delete {
    background-color: white;
    color: rgb(0, 58, 128);
}

#delete:active {
    transform: scale(0.966);
}

ul {
    width: 100%;
    min-height: 70vh;
    overflow: auto;
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.45);
    box-shadow: 0 2px 0 0 rgb(138, 138, 138);
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: underline;
    color: rgb(23, 153, 223);
}