* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    background: transparent;
    text-decoration: none;
    color: black;
}

:root {
    --primaryColor: #eb9481;
    --secondaryColor: #e6b232;
    --textColor: #455a64;
    --transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(250, 250, 250);
    font-family: 'Noto Sans JP', sans-serif;
}

.m1 {
    margin: 1rem 0 !important;
}

.m2 {
    margin: 2rem 0 !important;
}

.ml {
    margin-left: 0.6rem;
}

.wc {
    color: white !important;
}

p {
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem;
    color: var(--textColor);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: 2.5rem;
    color: var(--textColor);
    line-height: 1.2;
    font-family: 'Berkshire Swash', cursive;
    font-weight: lighter;
}

h2 {
    font-size: 2rem;
    color: var(--secondaryColor);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    color: var(--secondaryColor);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
}

.container {
    width: 85%;
    margin: auto;
}

.s {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

.img-size {
    width: 60%;
}

.img-9 {
    width: 90%;
}

.home-img {
    width: 200%;
}

ul li {
    margin: 0 1rem;
}

ul li:hover {
    border-bottom: 2px solid var(--secondaryColor);
}

.btn {
    width: max-content;
    padding: 0.5rem 1.0rem;
    margin: 0 0.5rem;
    border: 2px solid var(--primaryColor);
    color: var(--secondaryColor);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
}

.btn-primary {
    background-color: var(--secondaryColor);
    color: white;
    border-color: var(--secondaryColor) !important;
    margin: 0 !important;
    font-weight: 100;
}

.mg {
    margin: 0 !important;
}

.btn:hover {
    opacity: 0.8;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    flex-direction: column !important;
    align-items: flex-start;
    padding: 1rem;
}

.flex-col-1 {
    flex-direction: column;
}

.f-jc {
    justify-content: center !important;
}


/* header style */

.header.scroll {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0 !important;
    background-color: white;
    box-shadow: 0 0 4px gray;
    z-index: 999;
}

.header-container {
    height: 10vh;
    overflow: hidden;
}

.logo {
    width: 100px;
    height: 70px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
}

.logo h4 {
    color: var(--secondaryColor);
}

.navbar {
    margin-right: 1rem;
    color: var(--secondaryColor) !important;
}


/* home style */

.home {
    margin: 3rem auto;
    align-items: center !important;
    line-height: 1.5;
}

.home picture {
    width: 50%;
    height: 500px;
    overflow: hidden;
    justify-content: center !important;
}

.home-text {
    width: 45%;
}

.fa-bars {
    opacity: 0;
}


/* service style  */

.service {
    margin-top: 5rem;
}

.service .cards .card {
    flex-direction: column;
    align-items: flex-start;
    background-color: gray;
    padding: 2rem 1rem;
    overflow: hidden;
}

.service .cards .card:nth-child(1) {
    background-color: rgba(240, 231, 59, 0.624);
}

.service .cards .card:nth-child(2) {
    background-color: rgba(172, 186, 14, 0.257);
}

.service .cards .card:nth-child(3) {
    background-color: rgba(255, 234, 0, 0.284);
}

.service .cards .card:nth-child(4) {
    background-color: rgba(187, 176, 25, 0.479);
}

.service .cards .card picture {
    width: 100%;
    height: 300px;
    background: url('image/mailtunnels.png');
    background-position: center;
    background-size: cover;
    transition: var(--transition);
    padding: 1rem;
}

.service .cards .card:hover picture {
    transform: scale(1.02);
}

.service .cards .card small {
    font-size: 1.1rem;
    padding: 1rem 0;
}


/* Trial style */

#trial {
    background-color: white;
    padding-top: 6rem;
    text-align: center;
}

.trial-card {
    margin-top: 3rem;
    line-height: 1.3;
}

#trial .card {
    border: 1px solid var(--secondaryColor);
    text-align: left;
    transition: var(--transition);
}

#trial .card:hover {
    transform: scale(1.02);
    background-color: var(--primaryColor);
    color: white !important;
}

#trial .trial-text {
    padding: 1rem 0;
    width: 80%;
    margin: auto;
    color: black;
}

.trial-btn {
    margin-top: 0.5rem;
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

footer {
    background-color: var(--secondaryColor);
}

.footer-bottom {
    width: 100%;
    border-top: 2px solid white;
}

.fb-text {
    margin: 1rem 0;
    justify-content: center !important;
}

.fb-text small {
    color: white;
}


/* user-experience */

#user-experience {
    padding: 4rem 0;
}

.content-text p {
    width: 90%;
    line-height: 1.5;
}


/* keep-consumer */

#keep-consumer {
    background-color: rgb(204, 204, 204);
    padding: 4rem 0;
}

#keep-consumer picture {
    width: 450px;
    height: 400px;
    background-color: var(--secondaryColor);
    border-radius: 2rem;
    margin-right: 50px;
    justify-content: center !important;
}

#user-testimony {
    padding: 4rem 0;
}

#user-testimony picture {
    width: 550px;
    height: 350px;
    background-color: rgb(237, 237, 237);
    justify-content: center !important;
    padding: 0.8rem 0.5rem;
}

#integration .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#integration .cards .card {
    width: 350px;
    height: 150px;
    background-color: transparent;
    justify-content: center !important;
    padding: 1rem 1.5rem;
    gap: 1rem;
    cursor: pointer;
}

#integration .card:hover {
    background-color: rgb(231, 230, 230);
}

#integration picture {
    width: 150px;
    height: 100px;
    overflow: hidden;
    background-color: var(--primaryColor);
}

#integration p {
    margin: 0 !important;
}

@media (max-width: 1064px) {
    .container {
        width: 88%;
        margin: auto;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
    }
    .home {
        margin-top: 4rem;
    }
}

@media (max-width: 700px) {
    .container {
        width: 95%;
        margin: auto;
    }
    .navbar,
    .button {
        display: none;
    }
    .fa-bars {
        opacity: 1;
        font-size: 2rem;
    }
    .home {
        margin-top: 5rem;
        flex-wrap: wrap;
        text-align: center;
    }
    .home picture {
        display: none
    }
    .active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--secondaryColor);
        width: 70%;
        height: 100vh;
        padding: 1rem;
        z-index: 999;
        transition: var(--transition);
    }
    .active::before {
        content: '';
        width: 50%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.368);
        top: 0%;
        left: 100%;
        pointer-events: none;
    }
    .active ul {
        margin-top: 4rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .active ul li {
        margin: 10px;
    }
    .active a {
        color: white;
        font-size: 1.2rem;
    }
    .active a:hover {
        color: var(--primaryColor);
    }
    .active .button {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        padding-top: 1rem;
        border-top: 2px solid white;
    }
    .active .button .btn {
        border: 2px solid var(--primaryColor) !important;
        margin-top: 1rem !important;
        font-size: 1.1rem;
        margin-left: 0 !important;
    }
    .service .cards,
    .trial-card {
        flex-wrap: wrap;
    }
    .trial-card {
        height: auto;
    }
}