* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    border: none;
    outline: none;
}

:root {
    --primaryColor: rgb(173, 72, 72);
    --textColor: rgb(146, 128, 128);
    --darkGray: rgb(88, 88, 88);
    --grayLight: rgb(202, 202, 202);
}


/* general style */

.container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
}

section {
    padding: 50px 0;
}

.btn {
    width: max-content;
    padding: 10px 20px;
    background-color: rgb(173, 72, 72);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--grayLight);
    color: var(--darkGray);
}

.btn:active {
    transform: scale(0.8);
}

img {
    width: 100%;
}


/* Header style */

header {
    position: sticky;
    top: 0%;
    left: 0%;
    padding: 30px 0;
    text-align: left;
    background-color: var(--primaryColor);
    color: white;
}

header h2 span {
    color: black;
}


/* Product section style */

.view-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    height: 100vh;
}

aside {
    width: 20%;
}

aside>div {
    margin-bottom: 20px;
}

aside>div h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(41, 41, 41);
}

aside .search input {
    width: 100%;
    background-color: var(--grayLight);
    padding: 8px 5px;
    font-size: 14px;
    border-radius: 5px;
}

aside .search input::placeholder {
    color: rgb(68, 68, 68);
}

aside .category ul li {
    width: max-content;
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--textColor);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: .1s ease-in-out;
}

aside .category ul li:hover {
    color: rgb(173, 72, 72);
    border-bottom: 2px solid rgb(146, 128, 128);
}

aside .category ul li.active {
    color: rgb(173, 72, 72);
    border-bottom: 2px solid rgb(146, 128, 128);
}

aside .company select {
    padding: 5px;
    background-color: var(--grayLight);
    border-radius: 5px;
}

aside .color .colors {
    display: flex;
    align-items: center;
    gap: 10px;
}

aside .color .colors span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: .3s ease-in-out;
}

aside .color .colors span:hover {
    opacity: 1;
}

aside .color .colors p {
    border-bottom: 2px solid var(--primaryColor);
    cursor: pointer;
}

aside .color .colors span:nth-child(2) {
    background-color: red;
}

aside .color .colors span:nth-child(3) {
    background-color: purple;
}

aside .color .colors span:nth-child(4) {
    background-color: blue;
}

aside .color .colors span:nth-child(5) {
    background-color: brown;
}

aside .color .colors span:last-child {
    background-color: yellow;
}

aside .price p {
    color: var(--textColor);
    margin-bottom: 5px;
}

aside .shipping {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Product-view */

.product-view .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 30px;
}

.product-view .header .icon {
    display: flex;
    gap: 5px;
}

.product-view .header .icon i {
    border: 2px solid transparent;
    width: 35px;
    height: 34px;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.product-view .header .icon>.fa-solid {
    font-size: 20px;
    color: white;
}

.product-view .header .icon>.fa-solid:hover,
.product-view .header .icon i:hover {
    color: var(--primaryColor);
    background-color: transparent;
    border-color: var(--primaryColor);
}

.product-view .header .icon i:active {
    transform: scale(0.8);
}

.product-view .header .mid-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.product-view .header .mid-text span {
    width: 350px;
    height: 2px;
    background-color: var(--grayLight)
}

.product-view .header .mid-text p {
    font-size: 15px;
    color: var(--textColor);
}

.product-view .header .mid-text i {
    color: var(--darkGray);
}

.product-view .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-view .products-container .card {
    width: 290px;
    height: auto;
}

.product-view .products-container .card .imagebx {
    width: 290px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.product-view .products-container .card .card-text {
    display: flex;
    justify-content: space-between;
}