* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(14, 14, 70);
}

.preload {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.preload img {
    width: 20%;
}

.load.preload {
    display: flex;
    transition: all 500ms ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: cv 2s ease;
}

@keyframes cv {
    0% {
        transform: scale(0);
    }
}

.container picture {
    margin-bottom: 20px;
}

.container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: rgb(14, 14, 70);
    font-weight: bold;
    border: 2px solid white;
    transition: .4s ease;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: white;
}

.container button i {
    animation: button 1s infinite ease;
}

.message-container {
    background-color: rgba(0, 0, 0, 0.789);
    width: 100vw;
    position: fixed;
    min-height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-container i {
    color: yellow;
    font-size: 9rem;
}

.message {
    display: flex;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.show.message-container {
    display: flex;
}

@keyframes button {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(-10%);
    }
}

@media (max-width: 700px) {
    .preload img {
        width: 40%;
    }
    .container picture img {
        width: 100%;
        padding: 10px;
    }
    .message-container i {
        font-size: 4rem;
    }
    .message-container p {
        font-size: 0.8rem;
    }
}