* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(221, 221, 1);
    --textSize: 1.2rem;
    --textHeading: 2.5rem;
    --backgroundColor: rgba(227, 233, 239);
    --textColor: rgb(81, 81, 81);
    --width-lg: 85%;
    --width-ms: 90%;
    --width-sm: 95%
}

body {
    background-color: rgb(227, 233, 239);
}

.container {
    width: 85%;
    height: 100vh;
    margin: auto;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

p {
    margin: 1rem 0 2rem;
}

img {
    width: 100%;
}

.icon {
    position: absolute;
    top: 0;
    right: 3%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

small {
    font-size: 1rem;
}

nav {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
}

nav .logo {
    display: flex;
    align-items: center;
}

.logo span {
    background-color: black;
    color: var(--primaryColor);
    padding: 0.1rem 0.8rem;
    font-size: 2rem;
}

.logo h1 {
    font-size: 2rem;
    margin-left: 20px;
}

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

article h1 {
    font-size: 2.5rem;
    color: rgb(33, 33, 33);
}

article h1 span {
    color: var(--primaryColor)
}

article p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--textColor)
}

.landing-page .image {
    padding: 2rem;
}

.btn {
    height: 45px;
    position: relative;
    padding: 0.5rem 0.8rem;
    background: #000000;
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.btn span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: 0.5s ease-in;
}

.btn-primary {
    background-color: var(--primaryColor);
    color: black;
}

.btn:hover span::before {
    width: 800px;
    height: 800px;
    background-color: rgba(254, 254, 254, 0.478);
    border-color: #000000;
}


/* Form style  */

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 0 10px 0 rgb(207, 207, 207);
    text-align: center;
}

legend {
    font-size: 1rem;
    margin-left: 10px;
    text-align: left;
    color: rgb(78, 78, 78);
    padding: 0 5px;
}

.form h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

fieldset {
    border: 2px solid black;
    margin-bottom: 1rem;
}

.register {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    outline: none;
    border: none;
    padding: 0.4rem;
    width: 100%;
    font-size: 1rem;
}

form span {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 10px;
}

form span small {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

form span input {
    width: 5%;
}

button {
    margin: 3px 0;
}

.back {
    position: absolute;
    top: -10%;
    left: -120%;
    width: 20%;
    cursor: pointer;
}


/* user form login */

.user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 1.5rem;
}


/* message-popup */

.message-popup {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: 0.4s ease-in;
}

.success {
    background-color: rgb(85, 247, 85);
}

.failed {
    background-color: red;
}


/* media query */

@media(max-width: 800px) {
    .container {
        width: var(--width-sm);
        margin: auto;
    }
    .landing-page .image {
        display: none;
    }
    .form {
        width: 370px;
        padding: 0.8rem;
    }
}