    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: rgb(22, 12, 46);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .preload {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        min-height: 100vh;
        width: 100vw;
        z-index: 9999;
    }
    
    .preload img {
        width: 30%;
    }
    
    .load.preload {
        display: flex;
        transition: all 500ms ease-in-out;
    }
    
    .container {
        width: 60%;
        margin: auto;
        padding: 40px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .cv-container {
        width: 100%;
        background-color: rgb(246, 244, 244);
        padding: 20px 30px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 1px rgba(56, 56, 56, 0.797);
    }
    
    .cv-container .header-path {
        padding: 20px 0;
        text-align: right;
    }
    
    .header-path h1 {
        color: rgb(78, 185, 227);
        text-decoration: none;
        font-size: 1.8rem;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }
    
    .header-path h3 {
        background-color: rgb(22, 12, 46);
        padding: 5px;
        color: white;
    }
    
    h1 span {
        color: rgb(22, 12, 46);
    }
    
    h1 {
        color:rgb(22, 12, 46);
        text-decoration: underline;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    p,
    td,
    li {
        color: rgb(22, 12, 46);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }
    
    ul {
        padding-left: 30px;
    }
    
    li {
        margin: 8px;
    }
    
    button {
        padding: 10px 15px;
        border: 2px solid rgb(22, 12, 46);
        border-radius: 10px;
        color: rgb(22, 12, 46);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 1px 3px 1px rgba(56, 56, 56, 0.797)
    }
    
    button a:hover {
        color: white;
    }
    
    button a {
        color:rgb(22, 12, 46);
        text-decoration: none;
        font-size: 1rem;
        padding: 15px 15px;
    }
    
    button:hover {
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }
    
    .message-container {
        background-color: rgba(0, 0, 0, 0.789);
        width: 100vw;
        position: fixed;
        min-height: 100vh;
        top: 0%;
        left: 0%;
        z-index: 999;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .message-container i {
        color: yellow;
        font-size: 9rem;
    }
    
    .message {
        display: flex;
        color: rgb(255, 255, 255);
        margin: 10px;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
    
    .show.message-container {
        display: flex;
    }
    @media (max-width: 600px) {
        .container{
            width: 100%;
        }
        .cv-container{
            width: 100%;
            background-color: rgb(255, 255, 255);
            color: white;
        }
    }